* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    font-size: 0;
}

.nav button {
    width: 50%;
    height: 40px;
}

.main {

}

.center {
    display: none;
}





/* 以下是append页面样式 */


